<!DOCTYPE html>
<html lang="en">


<!-- export-table.html  21 Nov 2019 03:55:25 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>MEDICATIVE HOPITAL</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assetse/css/app.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assetse/css/style.css">
  <link rel="stylesheet" href="/assetse/css/components.css">
   <link rel="stylesheet" type="text/css" href="{{asset('/fullcalendar/plugins/fullcalendar/main.css')}}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/assetse/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/assetse/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{{asset('uploads/image/' ~ user.getImage())}}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">{{user.getPrenom}}</div>
              <div class="dropdown-divider"></div>
                <a href="{{ path('app_logout') }}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Deconnexion
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{{ path('app_dashboard_medecin') }}"> <img alt="image" src="/assetse/img/logo.png" class="header-logo" /> <span
                class="logo-name">MEDICATIVE</span>
            </a>
          </div>
         <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="{{ path('app_dashboard_medecin') }}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>rendezVous</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{{path('app_rendezvous_medecin_liste')}}">liste des rendez_vous</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Hospitalisation</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="">Creer</a></li>
                <li><a class="nav-link" href="{{path('app_hospitalisation')}}">afficher</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>Agenda</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{{path('app_plage_horaire')}}">calendrier</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="shopping-bag"></i><span>examen</span></a>
              <ul class="dropdown-menu">
              <li><a class="nav-link" href="{{path('app_examen_add')}}">Ajout</a></lii>
                <li><a class="nav-link" href="{{path('app_examen_liste') }}">afficher</a></lii>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="map"></i><span>
                  actemedical</span></a>
              <ul class="dropdown-menu">
               {#  <li><a href="gmaps-advanced-route.html">Creer</a></li> #}
                <li><a href="{{path('app_acteMedical_liste')}}">Afficher</a></li>
              </ul>
            </li> 
            </ul>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Calendrier</h1>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                class="fas fa-download fa-sm text-white-50"></i>Agenda</a>
               </div>
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>A</h4>
                  </div>
                  <div class="card-body">
                    <div id="calendare"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
   <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
             <button class="btn btn-danger supprimer_event" id="delete_event">Supprimer</button>
                    <form id="form">
                        <div class="form-group">
                        <label>description<span class="text-danger"></span></label>
                            <input class="form-control" type="text" name="title" id="event_titles">
                        </div>
                        <div class="form-group">
                            <label> Date <span class="text-danger"></span></label>
                                <div class="">
                                <input class="form-control" type="datetime-local" name="start" id="event_starts">
                             </div>
                        </div>
                        <div class="form-group">
                          <label> Date <span class="text-danger"></span></label>
                            <div class=>
                         <input class="form-control" type="datetime-local" name="end" id="event_ends">
                         </div>
                        </div>
                        </div>
                        <div class="m-t-20 text-center">
                       <button class="btn btn-primary" type="submit">Modifier</button>  
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>  
  <div id="delete_plagehoraire" class="modal fade delete-modal" role="dialog">
			   <div class="modal-dialog modal-dialog-centered">
				          <div class="modal-content">
                                  <div class="modal-body text-center">
                                            <img src="assets/img/sent.png" alt="" width="50" height="46">
                                            <h3>Etes vous sure de pouvoir supprimer cet evenement?</h3>
                                        <div class="m-t-20"> <a href="#" class="btn btn-warning croix" data-dismiss="modal">fermer</a>
                                             <button type="submit" class="btn btn-danger delete-event">supprimer</button>
                                        </div>
					            </div>
				        </div>
			     </div>
	</div>
 <div id="exampleModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Ajouter un evenement</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="forme">
                            <div class="form-group">
                                <label>description<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="title" id="event_title" required>
                            </div>
                            <div class="form-group">
                                <label> Date <span class="text-danger">*</span></label>
                                <div class="">
                                    <input class="form-control" type="datetime-local" name="start" id="event_start" required>
                                </div>
                            </div>
                              <div class="form-group">
                                <label> Date <span class="text-danger">*</span></label>
                                <div class=>
                                    <input class="form-control" type="datetime-local" name="end" id="event_end" required>
                                </div>
                            </div>

                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary" type="submit">enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer">
        <div class="footer-left">
          <a href="templateshub.net"></a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/assetse/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->

  <!-- Template JS File -->
  <script src="/assetse/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/assetse/js/custom.js"></script>

  
    <script src="{{asset('/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('/fullcalendar/plugins/moment/moment.min.js')}}"></script> 
         <script src="{{asset('/fullcalendar/plugins/fullcalendar/main.min.js')}}"></script> 


         <script>


        $(document).ready(function(){ 

                $('#forme').submit(function(e){

                e.preventDefault();
                if( $('#forme #event_title').val()==''){
                
                }
                var title_plage  =  $('#forme #event_title').val();

                var start_plage = $('#forme #event_start').val();

                var end_plage  =  $('#forme #event_end').val();
                var description_plage  =  $('#forme #event_description').val();

                var url="{{path('app_plagehoraire_add') }}"
                
                console.log(title_plage)
                $.ajax({
                    method:'POST',

                    dataType:'json',

                    url:url,
                    data:{
                        title:title_plage,

                        start:start_plage,

                        end :end_plage ,
                        description :description_plage 

                    },
                    success:function(data) { 
                         console.log(data)
                        if(data.code==1){
                        window.location="{{path('app_plage_horaire') }}"
                        }
                        
                    },
                error:function(error) {
                    console.log(error.responseText)   
                    }

                });

            }); 	 

        });  
        
        
    window.onload=()=> {
        var calendarEl = document.getElementById('calendare');
        
        var events = {{jsonEvents|raw}}; 
        console.log()
        var modale=document.getElementById('')
        var finalEvent=[];
    
            events.forEach((el)=>{

                finalEvent.push(
                    {
                    'id':el.id,
                    'title':el.title,
                    'start':new Date(el.start),
                    'end':new Date(el.end),
                    'description':el.description,
                    }
                );

            });
            console.log(finalEvent)
           
         var calendar = new FullCalendar.Calendar(calendarEl, {
                
            initialView:'dayGridMonth',
            locale:'fr',
            timeZone:'Europe/Paris',
            headerToolbar: {
            start: 'prev,next today',
            center:'title',
            end :'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events:finalEvent,
                buttonText:{
                        today:'AuJourd/hui',
                        week:'Semaine',
                        month:'Mois',  
                },
                editable:true,
                selectable:true,
                dateClick: function(info) {
                      console.log('date Click' +info.dateStr)
                        $('#exampleModal').modal('show');
                    $('#forme').submit(function(e){

                e.preventDefault();
                if( $('#forme #event_title').val()==''){
                
                }
                var title_plage  =  $('#forme #event_title').val();

                var start_plage = $('#forme #event_start').val();

                var end_plage  =  $('#forme #event_end').val();
                var description_plage  =  $('#forme #event_description').val();

                var url="{{path('app_plagehoraire_add') }}"
                
                console.log(title_plage)
                $.ajax({
                    method:'POST',

                    dataType:'json',

                    url:url,
                    data:{
                        title:title_plage,

                        start:start_plage,

                        end :end_plage ,
                        description :description_plage 

                    },
                    success:function(data) { 
                        if(data.code==1){
                        window.location="{{path('app_plage_horaire') }}"
                        }
                        
                    },
                error:function(error) {
                    console.log(error.responseText)   
                    }

                });

            }); 
                           // $('#event_title').val(info.dateStr)  
                } ,
                eventClick: function(info) {
                        // console.log(info.event.start)
                                        $('#myModal').modal('show');

                                    $('.supprimer_event').on('click',function(){       
                                            $('#delete_plagehoraire').modal('show');
                                                 $('#myModal').modal('hide');
                                            $('#delete_event').val(info.event.id)
                                            
                                             });
                                                $('.delete-event').on('click',function(){
                                                    
                                                     
                                                    var url="{{path('app_delete_plage_horaire',{'id': 'plagehoraireId'})}}".replace('plagehoraireId', info.event.id);
                                    
                                                    $.ajax({
                                                            method:"POST",
                                                            data:{id:info.event.id},
                                                              url:url, 
                                                            dataType:'json',
                                                            success:function(data) {
                            
                                                                if (data.code==1) { 
                                                                window.location= "{{path('app_plage_horaire') }}"; 
                                                                    
                                                                }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
                                                            },
                                                            error:function(error) {
                                                                console.log(error.responseText)   
                                                            }
                                                        });
                                            });

                        
                                        $('.croix').on('click',function(){
                                                $('#delete_plagehoraire').modal('hide')
                                        
                                          });
                                       
                                        $('#event_titles').val(info.event.title)
                                       
                                         $('#event_descriptions').val(info.event.description)
                                          console.log(info.event.end)
                                        // Créer un objet Date à partir de la chaîne de caractères
                                        var date = new Date (info.event.start);
                                        var dates = new Date (info.event.end);

                            // Convertir la date en une chaîne de caractères compatible avec le champ datetime-local
                                        var dateString = date.getFullYear() + '-' + (date.getMonth()+1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0') + 'T' + date.getHours().toString().padStart(2, '0') + ':' + date.getMinutes().toString().padStart(2, '0');
                                        var datendString = dates.getFullYear() + '-' + (dates.getMonth()+1).toString().padStart(2, '0') + '-' + dates.getDate().toString().padStart(2, '0') + 'T' + dates.getHours().toString().padStart(2, '0') + ':' + dates.getMinutes().toString().padStart(2, '0');
                                        $('#event_starts').val(dateString )

                                       $('#event_ends').val(datendString )

                                        $('#form').submit(function(e){
                                
                                        e.preventDefault();

                                        if( $('#form #event_title').val()==''){
                                    
                                        }
                                        var title_plage  =  $('#form #event_titles').val();

                                     var start_plage = $('#form #event_starts').val();

                                     var end_plage  =  $('#form #event_ends').val();

                                    var description_plage  =  $('#forme #event_descriptions').val();

                                     var url="{{path('app_horaire_edit_plage',{'id': 'plagehoraireId'})}}".replace('plagehoraireId', info.event.id)
                                    
                                    $.ajax({
                                                method:'POST',

                                                dataType:'json',

                                                url:url,
                                                data:{
                                                    title:title_plage,

                                                    start:start_plage,
                                                    end :end_plage,
                                                    description:description_plage 

                                                },
                                                success:function(data) { 
                                                    if(data.code==1){
                                                    window.location="{{path('app_plage_horaire') }}"
                                                    console.log(data.message)
                                                    }
                                                    
                                                },
                                             error:function(error) {
                                                    console.log(error.responseText)   
                                                }

                                        });

                                }); 
                }

    });

calendar.render();
 };
        
        
        </script>
</body>


<!-- export-table.html  21 Nov 2019 03:56:01 GMT -->
</html>