<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Login</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>


 <style>
  
  body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color :#5256ad;
    }
   
        form{
        display: flex;
        flex-direction: column;
        background-color:#fff;
        width: 400px;
        padding:30px;
        border-radius: 6px;
        box box-shadow: 0 0 25px rgba(0,0,0,0.2);
        }

        label{
        padding: 5px 0;
        font-size: 18px;
        color:#0000;
        }

        .mp {
        width:100%;
        position: relative;

            }
         .text {
        color: black;

            }

    
     .mp input{
       width:100%;
       padding: 5px 0;
       padding-left: 10px;
       border: 1px solid #999 ;
       border-radius:5px ;
     
        }


    .mp i{
         
         position: absolute;
         top:11px;
         right: 10px;
         font-size: 18px;
         cursor: pointer;

        }

        .mp i.active::before{
         
         content:'\f070';
         color:#5256ad ;

        }
 
 </style>

<body class="bg-light">
<div class="position-absolute top-50 start-100 translate-middle shadow">
 <div class="row">
 <div class="col-6">
    <img src="/asset/images/4.png" alt="Slider Images"  class="slide-image" width="400px" height ="300px">
     </div>
     <div class="col-6">
        <div class="card-body">
         <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

            {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }},<a href="{{ path('app_logout') }}">Deconnexion</a>
            </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text">se connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>                           
            <label for="inputPassword">Password</label>
            <div class="mp">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <i class="fa fa-eye"></i>
            </div>
            <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
                                        >
     <button class="btn btn-primary mt-5" type="submit">
        <span class="connexion"> Se connecter</span>
        </button>
    </form>
            
    </div>
    </div>
     </div>

 
 </div>


</div>
               
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin-2.min.js"></script>


    <script>

  let input= document.querySelector('.mp input');

   let showbtn= document.querySelector('.mp i');
   showbtn.onclick=function(){ 
        if(input.type==="password"){
        input.type="text";
        showbtn.classList.add('active')
        }else{
    input.type="password";
    showbtn.classList.remove('active')
        }
 }
   
 
 </script>

</body>

</html>