<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Hospital Medicative</title>
<!-- General CSS Files -->
<link rel="stylesheet" href="/assetse/css/app.min.css">
<link rel="stylesheet" href="/assetse/bundles/datatables/datatables.min.css">
<link rel="stylesheet" href="/assetse/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assetse/bundles/prism/prism.css">
<!-- Template CSS -->
<link rel="stylesheet" href="/assetse/css/style.css">
<link rel="stylesheet" href="/assetse/css/components.css">
<!-- Custom style CSS -->
<link rel="stylesheet" href="/assetse/css/custom.css">
<link rel='shortcut icon' type='image/x-icon' href='/assetse/img/favicon 1.ico' />
</head>
<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{{asset('uploads/image/' ~ users.getImage())}}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">{{users.getPrenom}}</div>
              <div class="dropdown-divider"></div>
               <a href="{{ path('app_logout') }}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Deconnexion
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{{ path('app_admin_dashboard') }}"> <img alt="image" src="assetse/img/logo.png" class="header-logo" /> <span
                class="logo-name">MEDICATIVE</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="{{ path('app_admin_dashboard') }}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>services</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{{ path('app_specialite_liste')}}">Afficher services</a></li>
                <li><a class="nav-link" href="{{ path('app_specialite_add')}}">Ajouter</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Fonction</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="">Creer</a></li>
                <li><a class="nav-link" href="{{ path('app_fonction')}}">afficher</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>Unites</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="email-inbox.html">Ajouter</a></li>
                <li><a class="nav-link" href="email-compose.html">Afficher</a></li>
              </ul>
            </li>
            <li class="menu-header">Personnels</li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>Agents
                  Personnel</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{{path('app_register_add')}}">Creer</a></li>
                <li><a class="nav-link" href="{{ path('app_user_liste') }}">afficher</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="shopping-bag"></i><span>Patients</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="avatar.html">afficher</a></lii>
              </ul>
            </li>
            <li class="menu-header">Rendez_vous</li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="layout"></i><span>rendez_vous</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{{path('app_rendezvous_liste')}}">liste</a></li>
               
              </ul>
            </li>
            <li class="menu-header">Hospitalisation</li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>hospitalisations</span></a>
              <ul class="dropdown-menu">
             {#    <li><a class="nav-link" href="light-gallery.html">Light Gallery</a></li> #}
                <li><a href="{{path('app_hospitalisation')}}"> hospitalisations</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="flag"></i><span>Chambre</span></a>
              <ul class="dropdown-menu">
                <li><a href="carousel.html">Creer</a></li>
                <li><a class="nav-link" href="{{ path('app_chambre')}}">affiche</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="map"></i><span>
                  Lit</span></a>
              <ul class="dropdown-menu">
                <li><a href="gmaps-advanced-route.html">Creer</a></li>
                <li><a href="{{ path('app_lit')}}">Afficher</a></li>
              </ul>
            </li>  
             </ul>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="row ">
            <div class="col-sm-4 col-3">
            <h4 class="page-title">Agents</h4> 
            </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                       {#  <a href="{{path('app_ajout/fonction') }}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Ajouter une Fonction</a> #}
              </div>
          </div>
                <br>
              <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-blue">Liste des agents</h6>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="tableExport" width="100%" cellspacing="0">
                                    <thead>
                                          <tr>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>datenaissance</th>
                                            <th>Adresse</th>
                                            <th>Telephone</th>
                                            <th>email</th>
                                            <th>genre</th>
                                            <th>service</th>
                                            <th class="text-right">Action</th>   

                                            </tr>  
                                       </thead>  
                                    
                                    <tbody>

                                    {% for users in user %}
									       <tr>
                                     
                                                <td>{{users.nom}}</td>

                                                <td>{{users.prenom}}</td>

                                                  <td>{{users.datenaissance|date('Y-m-d')}}</td>
        
                                                   <td>{{users.adresse}}</td>

                                                    <td>{{users.telephone}}</td>    
                                                    <td>{{users.email}}</td>
                                                    <td>{{users.genre}}</td>                 
                                                    <td>{{users.getSpecialite.getNom}}</td>
                                                     <td class="text-right mt-5">
                                                    <a class="btn text-blue" href="{{ path('app_user_unique',{'id':users.id})}}"><i class="fas fa-eye"></i></a>					
                                                    <a class="btn btn-warning" href="{{path('app_user_update',{'id':users.id})}}"><i class="fa fa-edit"></i></a>
                                                    <a class="btn btn-danger delete-user" href="#delete_user" data-toggle="modal" data-target="" id="{{users.id}}"><i class="fas fa-trash"></i></a>
                                                    </td> 
					                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                         </div>
                      </div>
                  </div>

               <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="delete_user" class="modal fade delete-modal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="/assetse/img/sent.png" alt="" width="50" height="46">
						<h3>voulez vous suprimer cet agent ?</h3>
						<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Fermer</a>
							<button type="submit" class="btn btn-danger supprimer_user" >Supprimer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
        </div>
                <!-- /.container-fluid -->
      </div>       
      <footer class="main-footer">
        <div class="footer-left">
          <a href="templateshub.net"></a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  
  <!-- General JS Scripts -->

   <script src="/assetse/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="/assetse/bundles/prism/prism.js"></script>
  <!-- Page Specific JS File -->
  <script src="/assetse/bundles/datatables/datatables.min.js"></script>
  <script src="/assetse/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/assetse/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
  <script src="/assetse/bundles/datatables/export-tables/buttons.flash.min.js"></script>
  <script src="/assetse/bundles/datatables/export-tables/jszip.min.js"></script>
  <script src="/assetse/bundles/datatables/export-tables/pdfmake.min.js"></script>
  <script src="/assetse/bundles/datatables/export-tables/vfs_fonts.js"></script>
  <script src="/assetse/bundles/datatables/export-tables/buttons.print.min.js"></script>
  <script src="/assetse/js/page/datatables.js"></script>
  <!-- Template JS File -->
  <script src="/assetse/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/assetse/js/custom.js"></script>
  <script>

  $(document).on('click','.delete-user',function(){
      var id=$(this).attr("id");
     
      let url ="{{path('app_register_delete',{id :'id_' })}}";
      url = url.replace("id_", id);
      $('.supprimer_user').click(function(){
       
        $.ajax({
        method:"POST",
        data:{id:id},
        url:url, 
        dataType:'json',
        success:function(data) { 
          if (data.code==1) { 
          window.location.href = "{{path('app_user_liste') }}"; 
            
          }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
        },
        error:function(error) {
          console.log(error.responseText)   
        }
      });

      });
   
});


    </script>
  
 

</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>