
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Hospital</title>
    <link rel="stylesheet" type="text/css" href="/assts/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assts/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assts/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assts/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/assts/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/assts/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head> 
    <body>
    <style>
      .h1{
        font-size:20px;
        color:blue;
        text-align:center;
      }
      
    
    </style>
  
    <p class="h1">Inscription</p>
       <div class="container">

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
      
       {{ form_row(registrationForm.roles) }}
      {#   {{ form_row(registrationForm.agreeTerms) }} #} 

        <button type="submit" class="btn btn-primary mt-4">Soumettre</button>
    {{ form_end(registrationForm) }}
       
       
       </div>

   


    </body>


<!-- patients23:19-->
</html>

