
        <main id="main" class="main">
            <section class=" section dashboard mt-5 flex flex-col overflow-y-hidden w-full items-center justify-center overflow-x-hidden right-0 text-white  pt-8 ">
                <div class=" w-full h-full bg-white">
                    <center>
                        <div class="bg-blue-500 py-2"></div>
                        {# <div class="form-outline mb-4">
                            <input type="text" id="NUIP" class="form-control border-gray-300" placeholder="Numero d'identification du patient généré automatiquement" value="{% if data|default(null) != null %}{{data.NUIP}}{% endif %}">
                        </div> #}
                        <div class="d-flex flex-row gap-2 input-wrap mt-3">
                            <div class="input-group mb-3">
                                    <input type="text"  id="nom" class="form-control border-gray-300" placeholder="Nom(s)" value="{% if data|default(null) != null %}{{data.nomPatient}}{% endif %}">
                            </div>
                            <div class="input-group mb-3">
                                    <input type="text"  id="prenom" class="form-control border-gray-300" placeholder="Prenom(s)" value="{% if data|default(null) != null %}{{data.prenom}}{% endif %}">
                            </div>
                        </div>
                         <div class="d-flex flex-row gap-2 input-wrap mt-3">
                            <div class="input-group mb-3">
                                    <input type="text"  id="societe" class="form-control border-gray-300" placeholder="societe" value="{% if data|default(null) != null %}{{data.societe}}{% endif %}">
                            </div>
                            <div class="input-group mb-3">
                                    <input type="text"  id="mutuelle" class="form-control border-gray-300" placeholder="mutuelle" value="{% if data|default(null) != null %}{{data.mutuelle}}{% endif %}">
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-2 input-wrap">

Christ Info, [15/04/2023 18:40]
<div class="input-group mb-3">
                                <input type="date"  id="dateNaisse" class="form-control border-gray-300" placeholder="Date de naissance" value="{% if data|default(null) != null %}{{data.dateNaisse}}{% endif %}">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text"  id="telephone" class="form-control border-gray-300"  placeholder="Telephone" value="{% if data|default(null) != null %}{{data.telephone}}{% endif %}">
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-2">
                            <select
                                id="commune"
                                class="form-select ">
                                <option>--choisir une commune--</option>
                                {% for Communes in Commune %}
                                    <option
                                     value="{{ Communes.id }}"
                                     {% if data|default(null) != null %}
                                        {% if data.getCommune() == Communes.id %}                            
                                            selected
                                        {% endif %}
                                    {% endif %}>{{Communes.nomCommune}}</option>
                                {% endfor %}
                            </select>
                            <select
                                id="arrondissement"
                                class="form-select ">
                                <option>--choisir un arrondissement--</option>
                                    {% for Arrondissements in Arrondissement %}
                                    <option
                                     value="{{ Arrondissements.id }}"
                                     {% if data|default(null) != null %}
                                        {% if data.getArrondissement() == Arrondissements.id %}                            
                                            selected
                                        {% endif %}
                                    {% endif %}>{{Arrondissements.libelle}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex flex-row gap-2">
                            <select
                                id="quartier"
                                class="form-select mt-3">
                                <option>--choisir un quartier--</option>
                                {% for Quartiers in Quartier %}
                                    <option
                                     value="{{ Quartiers.id }}"
                                     {% if data|default(null) != null %}
                                        {% if data.getQuartier() == Quartiers.id %}                            
                                            selected
                                        {% endif %}
                                    {% endif %}>{{Quartiers.libelle}}</option>
                                {% endfor %}
                            </select>
                            <select
                                id="departement"
                                class="form-select mt-3">
                                <option>--choisir un departement--</option>
                                    {% for Departements in Departement %}
                                    <option
                                     value="{{ Departements.id }}"
                                     {% if data|default(null) != null %}
                                        {% if data.departement == Departements.id %}                            
                                            selected
                                        {% endif %}

Christ Info, [15/04/2023 18:40]
{% endif %}>{{Departements.nom}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex flex-row gap-2">
                            <select
                                class="form-select mt-3" id="civilite">
                                <option>--choisir une civilité--</option>
                                <option value="Monsieur"
                                        {% if data|default(null) != null and data.civilite == "Monsieur" %}
                                            selected
                                        {% endif %}>Monsieur</option>
                                <option value="Madame"
                                        {% if data|default(null) != null and data.civilite == "Madame" %}
                                            selected
                                        {% endif %}>Madame</option>
                            </select>
                            <select
                                class="form-select mt-3" id="genre">
                                    <option>--choisir un genre--</option>
                                <option value="Homme"
                                        {% if data|default(null) != null and data.genre == "Homme" %}
                                            selected
                                        {% endif %}>Homme</option>
                                <option value="Femme"
                                        {% if data|default(null) != null and data.genre == "Femme" %}
                                            selected
                                        {% endif %}>Femme</option>
                            </select>
                        </div>
                        <div class="mb-3 flex flex-wrap w-full">
                            <div class="flex wrap w-6/12 mb-3 justify-between mt-3 mb-3 border-2 border-gray-200 bg-white">
                                <div class="input-group p-3 text-black">
                                    <label class="form-label" for="">Professions</label>
                                </div>
                                <div class=" form-check left p-3 text-black">
                                    {% for professions in professions %}
                                        <div class="">
                                            <input id="profession_ckb_{{ loop.index }}" type="checkbox" multiple= "true"
                                            class="profession_ckb rounded-sm form-check-input" value="{{ professions.id }}" 
                                            {% if data|default(null) != null and profession_patient|default(null) != null %}
                                                {% for pp in profession_patient %}
                                                    {% if pp|default(null) != null and pp.profession == professions.id %}
                                                        checked
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}/>
                                            <label for="profession_ckb_{{ loop.index }}">{{professions.libelle}}</label> 
                                        </div>
                                    {% endfor %}
                                </div> 
                            </div>
                            <div class="flex wrap w-6/12 mb-3 justify-between mt-3 mb-3 border-2 border-gray-200 bg-white">
                                <div class="input-group p-3 text-black">
                                    <label class="form-label" for="">Nationalités</label>
                                </div>
                                <div class="form-check left p-3 text-black">
                                    {% for nationalite in Nationalite %}
                                        <div class="">

Christ Info, [15/04/2023 18:40]
<input id="nationalite_ckb_{{ loop.index }}" type="checkbox" multiple= "true" class="nationalite_ckb rounded-sm form-check-input" value="{{ nationalite.id }}" 
                                            {% if data|default(null) != null and nationalite_patient|default(null) != null %}
                                                {% for np in nationalite_patient %}
                                                    {% if np|default(null) != null and np.nationalite == nationalite.id %}
                                                        checked
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}/>
                                            <label for="nationalite_ckb_{{ loop.index }}">{{nationalite.libelle}}</label> 
                                        </div>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                        <div class="mb-3 flex flex-wrap w-full">
                            <div class="flex wrap w-6/12 mb-3 justify-between mt-3 mb-3 border-2 border-gray-200 bg-white">
                                <div class="input-group p-3 text-black">
                                    <label class="form-label" for="">Religions</label>
                                </div>
                                <div class="form-check left p-3 text-black">
                                    {% for religion in Religion %}
                                        <div class="">
                                            <input id="religion_ckb_{{ loop.index }}" type="checkbox" multiple= "true" class="religion_ckb rounded-sm form-check-input" value="{{ religion.id }}" 
                                            {% if data|default(null) != null and patient_religion|default(null) != null %}
                                                {% for pr in patient_religion %}
                                                    {% if pr|default(null) != null and pr.religion == religion.id %}
                                                        checked
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}/>
                                            <label for="religion_ckb_{{ loop.index }}">{{religion.libelle}}</label> 
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div> 
                        <div class="w-full h-full justify-center items-center my-3 text-center">
                            <button type="button" class=" text-gray-500 hover:text-white border border-blue-500 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-20 py-3 text-center mr-2 mb-2 "
                            id="terminer_creation_patient">Ajouter</button>
                        </div>
                    </center>
                </div>
            </section>
        </main>

        <script src="{{ asset('assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
      <script src="{{ asset('assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
      <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ asset('assets/vendor/chart.js/chart.umd.js') }}"></script>
      <script src="{{ asset('assets/vendor/echarts/echarts.min.js') }}"></script>
      <script src="{{ asset('assets/vendor/quill/quill.min.js') }}"></script>
      <script src="{{ asset('assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
      <script src="{{ asset('assets/vendor/tinymce/tinymce.min.js') }}"></script>
      <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>